---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<div class="publications-compact" markdown="1">

{% assign talks_by_year = site.talks | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}

{% for year_group in talks_by_year %}
  <h2>{{ year_group.name }}</h2>
  <ul>
  {% assign year_talks = year_group.items | sort: "date" | reverse %}
  {% for post in year_talks %}
    {% include archive-single-talk.html %}
  {% endfor %}
  </ul>
{% endfor %}

</div>
