{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h3>
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% assign citation_bold = post.citation | replace: "Kéruzoré, F.", "<strong>Kéruzoré, F.</strong>" %}
    <p class="archive__item-excerpt" itemprop="description">{{ citation_bold }}</p>
    {% if post.link %}
      {% assign bibcode = post.link | split: "/abs/" | last | split: "/abstract" | first %}
      {% assign abstract_id = bibcode | replace: ".", "" | replace: "&", "" %}
      <p class="archive__item-link">
        {% if post.link_text %}
          <a href="{{ post.link }}">{{ post.link_text }}</a>
        {% else %}
          <a href="{{ post.link }}">NASA ADS</a>
        {% endif %}
        {% unless post.hide_arxiv %}
          | <a href="https://ui.adsabs.harvard.edu/link_gateway/{{ bibcode }}/EPRINT_HTML">arXiv</a>
        {% endunless %}
        | <a href="#" class="abstract-toggle" data-target="abstract-{{ abstract_id }}">Abstract</a>
      </p>
      {% if post.abstract %}
      <div id="abstract-{{ abstract_id }}" class="abstract-content" style="display: none;">
        <p>{{ post.abstract }}</p>
      </div>
      {% endif %}
    {% endif %}
    </li>
 </article>
</div>
