{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h3>
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% assign citation_bold = post.citation | replace: "Kéruzoré, F.", "<strong>Kéruzoré, F.</strong>" %}
    <p class="archive__item-excerpt" itemprop="description">{{ citation_bold }}</p>

    {% if post.link %}
      {%- assign bibcode = post.link | split: "/abs/" | last | split: "/abstract" | first -%}
      {%- assign abstract_id = bibcode | replace: ".", "" | replace: "&", "" -%}
      {%- assign links = "" | split: "" -%}

      {%- if post.abstract -%}
        {%- capture abstract_link -%}<a href="#" class="abstract-toggle" data-target="abstract-{{ abstract_id }}">Abstract</a>{%- endcapture -%}
        {%- assign links = links | push: abstract_link -%}
      {%- endif -%}

      {%- if post.link_text -%}
        {%- capture ads_link -%}<a href="{{ post.link }}">{{ post.link_text }}</a>{%- endcapture -%}
      {%- else -%}
        {%- capture ads_link -%}<a href="{{ post.link }}">NASA ADS</a>{%- endcapture -%}
      {%- endif -%}
      {%- assign links = links | push: ads_link -%}

      {%- unless post.hide_arxiv -%}
        {%- capture arxiv_link -%}<a href="https://ui.adsabs.harvard.edu/link_gateway/{{ bibcode }}/EPRINT_HTML">arXiv</a>{%- endcapture -%}
        {%- assign links = links | push: arxiv_link -%}
      {%- endunless -%}

      {%- if post.hide_arxiv -%}
        {%- if post.pdf_url -%}
          {%- capture pdf_link -%}<a href="{{ post.pdf_url }}">PDF</a>{%- endcapture -%}
          {%- assign links = links | push: pdf_link -%}
        {%- endif -%}
      {%- else -%}
        {%- capture pdf_link -%}<a href="https://ui.adsabs.harvard.edu/link_gateway/{{ bibcode }}/EPRINT_PDF">PDF</a>{%- endcapture -%}
        {%- assign links = links | push: pdf_link -%}
      {%- endif -%}

      <p class="archive__item-link">
        {{ links | join: " | " }}
      </p>
    {% endif %}

    {% if post.abstract %}
      <div id="abstract-{{ abstract_id }}" class="abstract-content" style="display: none;">
        <p>{{ post.abstract }}</p>
      </div>
    {% endif %}
    </li>
 </article>
</div>
