{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <h3 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h3>
    {% assign citation_bold = post.citation | replace: "Kéruzoré, F.", "<strong>Kéruzoré, F.</strong>" %}
    <p class="archive__item-excerpt" itemprop="description">{{ citation_bold }}</p>
    {% if post.link %}
      <p class="archive__item-link"><a href="{{ post.link }}">NASA ADS</a></p>
    {% endif %}
    </li>
 </article>
</div>
