{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <h3 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h3>
    {% assign citation_bold = post.citation | replace: "Kéruzoré, F.", "<strong>Kéruzoré, F.</strong>" %}
    <p class="archive__item-excerpt" itemprop="description">{{ citation_bold }}</p>
    {% if post.link %}
      {% assign bibcode = post.link | split: "/abs/" | last | split: "/abstract" | first %}
      {% assign abstract_id = bibcode | replace: ".", "" | replace: "&", "" %}
      <p class="archive__item-link">
        <a href="{{ post.link }}">NASA ADS</a>
        | <a href="https://ui.adsabs.harvard.edu/link_gateway/{{ bibcode }}/EPRINT_HTML">arXiv</a>
        | <a href="#" class="abstract-toggle" data-target="abstract-{{ abstract_id }}">Abstract</a>
      </p>
      {% if post.abstract %}
      <div id="abstract-{{ abstract_id }}" class="abstract-content" style="display: none;">
        <p>{{ post.abstract }}</p>
      </div>
      {% endif %}
    {% endif %}
    </li>
 </article>
</div>
